<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  <%= content_for?(:style) ? yield(:style) : nil %>
  <title><%= content_for?(:title) ? yield(:title) : 'embed' %></title>
</head>
<body>
<%= yield %>
</body>
</html>
