<% content_for(:title, @playlist.name) %>

<div class="embed embed-featured-item rounded-sm shadow-md text-white" style="background-color: <%= @playlist.selected_palette %>;">
  <a href="<%= @url %>" target="_blank">
    <div class="scrim"></div>
    <div class="blur_gradient"></div>
    <div class="upper">
      <img
        decoding="async"
        src="<%= @playlist.logo_image_url %>"
        class="rounded-sm"
        alt="<%= @episode_data.dig(:name) %>"/>
    </div>
    <div class="bottom p-2">
      <div class="series_content">
        <% line_clamp_size = @height.to_i < 420 ? '1' : '2' %>
        <div class="text-xxs text-bold" style="color: <%= @playlist.primary_light_color %>">
          <span class="line-clamp-<%= line_clamp_size %>">
            <%= @playlist.detailed_catch %>
          </span>
        </div>
        <div class="font-bold text-sm mt-1 mb-2 w-54 line-clamp-<%= line_clamp_size %>"><%= @playlist.name %></div>
      </div>
      <div class="my-3">
        <hr class="border-gray-350">
      </div>
      <div class="episode_content">
        <div class="text-xxs my-2">
          <small>このプレイリストに含まれるエピソード</small>
        </div>

        <div class="flex">
          <div class="w-20">
            <img
              decoding="async"
              src="<%= episode_image_src %>"
              class="rounded-sm"
              alt="<%= @episode_data[:name] %>"/>
          </div>
          <div class="ml-2 font-bold text-xs line-clamp-2"><%= @episode_data[:name] %></div>
        </div>
      </div>
    </div>
  </a>
</div>

<% content_for(:style) do %>
  <style>
      .embed-featured-item {
          min-height: 385px;
          max-height: 482px;
          height: <%= @height %>px;
          overflow: hidden;
          width: 240px;
      }

      .scrim {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 50%;
          width: 100%;
          /* 下から上に黒グラデ0%-40% */
          background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
      }

      .blur_gradient {
          z-index: 10;
          position: absolute;
          top: 200px;
          height: 20%;
          width: 99%;
          /*background: linear-gradient(to top, #837B6E, transparent);*/
          backdrop-filter: blur(5px); /* 一旦境界をにじませるだけに */
          opacity: 85%;
          margin-left: 1px; /* これを入れないとblurの左端が暗くなる */
      }

      .upper {
          position: relative;
      }

      .bottom {
          position: relative;
          z-index: 20;
      }
  </style>
<% end %>
