<div class="embed embed-featured-item rounded-sm shadow-md text-white" data-controller="key-color">
  <a href="<%= view_data.url %>" target="_blank">
    <div class="flex flex-col justify-between h-full">
      <div>
        <div class="scrim"></div>
        <div class="upper">
          <img
            decoding="async"
            src="<%= view_data.base64_image_src %>"
            class="rounded-sm mask-image"
            alt="<%= view_data.name %>"
            data-key-color-target="image" />
          <div class="pl-2 absolute top-14">
            <div class="font-bold text-sm mt-1 mb-2 w-54 line-clamp-1"><%= view_data.name %></div>
          </div>
        </div>
        <div class="bottom p-2">
          <% if view_data.episodes.blank? %>
            <div class="flex h-full items-center justify-center">
              <small>エピソードがありません</small>
            </div>
          <% else %>
            <div class="episode_content space-y-1">
              <% episodes = @height.to_i > 280 ? view_data.episodes.take(3) : view_data.episodes.take(2)  %>
              <% episodes.each do |episode| %>
                <div class="flex p-2 rounded-sm shadow-sm" style="background-color: <%= view_data.key_color %>;">
                  <div class="w-16 flex-none">
                    <img
                      decoding="async"
                      src="<%= episode_image_src(episode) %>"
                      class="rounded-sm"
                      alt="<%= episode.dig(:name) %>"/>
                  </div>
                  <div class="ml-2 text-xs line-clamp-2"><%= episode.dig(:name) %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% if @height.to_i > 250 %>
        <div class="footer pb-3 px-3" style="position:relative; z-index: 10;">
          <%= render 'shared/embed_footer' %>
        </div>
      <% end %>
    </div>
  </a>
</div>

<% content_for(:style) do %>
  <style>
      .embed-featured-item {
          min-height: 210px;
          max-height: 300px;
          height: <%= @height %>px;
          overflow: hidden;
          width: 240px;
      }

      .scrim {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 50%;
          width: 100%;
          /* 下から上に黒グラデ0%-40% */
          background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
      }

      .bottom {
          position: relative;
      }

      .mask-image {
          -webkit-mask-image: linear-gradient(black 50%, transparent 100%);
          mask-image: linear-gradient(black 50%, transparent 100%);
      }
  </style>
<% end %>
