<style>
    .iframe-wrapper-full {
        width: 100%;
    }

    .iframe-wrapper-430 {
        width: 430px;
    }

    .iframe-wrapper-240 {
        width: 240px;
    }
</style>
<div>
  <h2 class="text-white text-xl font-bold m-1">高さ210px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="210" src="<%= src %>" style="border: 0;"></iframe>
    </div>
    <div class="flex-none iframe-wrapper-430 m-1">
      <iframe width="100%" height="210" src="<%= src %>" style="border: 0;"></iframe>
    </div>
    <div class="iframe-wrapper-full m-1">
      <iframe width="100%" height="210" src="<%= src %>" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ251px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="251" src="<%= src %>?height=251" style="border: 0;"></iframe>
    </div>
    <div class="flex-none iframe-wrapper-430 m-1">
      <iframe width="100%" height="251" src="<%= src %>?height=251" style="border: 0;"></iframe>
    </div>
    <div class="iframe-wrapper-full m-1">
      <iframe width="100%" height="251" src="<%= src %>?height=251" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ270px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="270" src="<%= src %>?height=270" style="border: 0;"></iframe>
    </div>
    <div class="flex-none iframe-wrapper-430 m-1">
      <iframe width="100%" height="270" src="<%= src %>?height=270" style="border: 0;"></iframe>
    </div>
    <div class="iframe-wrapper-full m-1">
      <iframe width="100%" height="270" src="<%= src %>?height=270" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ300px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="300" src="<%= src %>?height=300" style="border: 0;"></iframe>
    </div>
    <div class="flex-none iframe-wrapper-430 m-1">
      <iframe width="100%" height="300" src="<%= src %>?height=300" style="border: 0;"></iframe>
    </div>
    <div class="iframe-wrapper-full m-1">
      <iframe width="100%" height="300" src="<%= src %>?height=300" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ340px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="340" src="<%= src %>?height=340" style="border: 0;"></iframe>
    </div>
    <div class="flex-none iframe-wrapper-430 m-1">
      <iframe width="100%" height="340" src="<%= src %>?height=340" style="border: 0;"></iframe>
    </div>
    <div class="iframe-wrapper-full m-1">
      <iframe width="100%" height="340" src="<%= src %>?height=340" style="border: 0;"></iframe>
    </div>
  </div>
</div>
