<% content_for(:title, episode_data[:name]) %>

<div class="embed embed-large-image relative bg-no-repeat" style="background-image: url(<%= episode_image_src %>);">
  <a href="<%= episode_data[:url] %>" target="_blank">
    <div class="absolute top-0 w-full h-full">
      <div class="flex flex-col justify-between p-3 w-full h-full">
        <div class="name">
          <p style="color: <%= episode_series_primary_light %>"><%= episode_series_name %></p>
          <p class=text-white><%= episode_data[:name] %></p>
        </div>
        <div class="button-wrapper flex items-center justify-center">
          <button class="text-white font-bold py-4 px-10 rounded-full border-2 border-white" href="#">詳しく見る</button>
        </div>
        <div class="logo">
          <%= render 'shared/embed_logo' %>
        </div>
      </div>
    </div>
  </a>
</div>

<% content_for(:style) do %>
  <style>
      .embed-large-image {
          min-height: 210px;
          max-height: 482px;
          height: <%= height %>px;
          overflow: hidden;
          width: <%= height.to_i / 9 * 16 %>px;
      }

      .embed-large-image::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(to top, transparent 60%, rgba(0, 0, 0, .4) 85%, rgba(0, 0, 0, .8) 100%),
                      linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, .4) 85%, rgba(0, 0, 0, .8) 100%);
      }

      .button-wrapper button {
          display: none;
          background: rgba(0, 0, 0, 0.4);
      }

      .footer-logo {
          width: 90px;
          height: 24px;
      }

      .embed-large-image:hover .button-wrapper button {
          display: block;
      }
  </style>
<% end %>
