<% content_for(:title, @episode_data[:name]) %>

<style>
    .embed-episode {
        height: 200px;
        min-width: 240px;
    }

    figure.eyecatch-wrapper::after {
        display: block;
        position: absolute;
        background: linear-gradient(
                180deg,
                rgba(23, 23, 23, 0) 40%,
                rgba(23, 23, 23, 0.7917542016806722) 80%
        );
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        content: '';
    }

    /* < 274px */
    @media only screen and (max-width: 277px) {
        .xxxs\:hidden {
            display: none !important;
        }
    }

    /* 276px - 464px */
    @media only screen and (min-width: 277px) and (max-width: 465px) {
        .xxs\:hidden {
            display: none !important;
        }
    }

    /* > 465px */
    @media only screen and (min-width: 465px) {
        .xs\:hidden {
            display: none !important;
        }
    }
</style>

<div class="embed embed-episode rounded-sm shadow-md text-white border border-gray-450">
  <a href="<%= @episode_data[:url] %>" target="_blank">
    <!-- < 276px-->
    <div class="xxs:hidden xs:hidden">
      <div class="p-3 pb-2 grid grid-cols-12 gap-3 mb-auto sm:text-lg" style="height: 158px;">
        <div class="col-span-12">
          <figure class="relative max-w-xs cursor-pointer eyecatch-wrapper">
            <img
              decoding="async"
              src="<%= episode_image_src %>"
              class="rounded-sm"
              alt="<%= @episode_data[:name] %>"/>
            <figcaption class="absolute -mt-12 -ml-2 text-white px-3 z-10">
              <div class="text-xs">
                <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
              </div>
              <div class="font-bold text-sm mt-1 mb-2 w-54 line-clamp-2"><%= @episode_data[:name] %></div>
            </figcaption>
          </figure>
        </div>
      </div>
      <%= render 'shared/embed_footer' %>
    </div>

    <!-- 276px -- 464px-->
    <div class="xxxs:hidden xs:hidden">
      <div class="p-3 pb-2 grid grid-cols-12 gap-3 mb-auto sm:text-lg" style="height: 158px;">
        <div class="col-span-6">
          <img
            decoding="async"
            src="<%= episode_image_src %>"
            class="rounded-sm"
            alt="<%= @episode_data[:name] %>"/>
        </div>
        <div class="col-span-6">
          <div class="text-xs">
            <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
          </div>
          <div class="font-bold text-md mt-1 mb-2 line-clamp-2"><%= @episode_data[:name] %></div>
        </div>
        <div class="col-span-12">
          <div class="text-gray-350 text-xs flex items-center mt-2">
            <span class="material-icons md-18">event</span>
            <span class="ml-1">初回放送日時:</span>
            <span class="ml-1"><%= Time.parse(@episode_data.dig(:releasedEvent, :startDate)).strftime("%Y年%-m月%-d日 %H時%M分") %></span>
          </div>
        </div>
      </div>
      <%= render 'shared/embed_footer' %>
    </div>

    <!-- > 464px-->
    <div class="xxxs:hidden xxs:hidden">
      <div class="p-3 pb-2 grid grid-cols-12 gap-3 mb-auto sm:text-lg" style="height: 158px;">
        <div class="col-span-5">
          <img
            decoding="async"
            src="<%= episode_image_src %>"
            class="rounded-sm"
            alt="<%= @episode_data[:name] %>"/>
        </div>
        <div class="col-span-7">
          <div class="text-xs">
            <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
          </div>
          <div class="font-bold text-md mt-1 mb-2 line-clamp-2"><%= @episode_data[:name] %></div>
          <div class="text-gray-350 text-xs flex items-center mt-2">
            <span class="material-icons md-18">event</span>
            <span class="ml-1">初回放送日時:</span>
            <span class="ml-1"><%= Time.parse(@episode_data.dig(:releasedEvent, :startDate)).strftime("%Y年%-m月%-d日 %H時%M分") %></span>
          </div>
          <div class="text-gray-350 text-xs mt-2 line-clamp-2">
            <%= @episode_data[:description] %>
          </div>
        </div>
      </div>
      <%= render 'shared/embed_footer' %>
    </div>
  </a>
</div>
