<% content_for(:title, @series_data[:name]) %>

<style>
    .embed-series {
        height: 200px;
        min-width: 200px;
    }
</style>


<div class="embed embed-series rounded-sm shadow-md text-white border border-gray-450">
  <a href="<%= @series_data[:url] %>" target="_blank">
    <div class="p-3 pb-2 grid grid-cols-12 gap-3">
      <div class="col-span-5">
        <img
          decoding="async"
          src="<%= @series_data.dig(:eyecatch, :medium, :url) %>"
          class="rounded-sm"
          alt="<%= @series_data[:name] %>"/>
      </div>
      <div class="col-span-7">
        <div class="font-bold text-md mt-1 mb-2"><%= @series_data[:name] %></div>
        <div class="text-gray-350 text-xs mt-2 line-clamp-4">
          <%= @series_data[:description] %>
        </div>
      </div>
    </div>
    <%= render 'shared/embed_footer' %>
  </a>
</div>
