<% content_for(:title, @event_data[:name]) %>

<div class="embed embed-event rounded-sm shadow-md text-white border border-gray-450">
  <a href="<%= @event_data[:url] %>" target="_blank">
    <!-- - height:250px -->
    <div class="card:hidden h-full">
      <!-- < width:241px-->
      <div class="xxxs:hidden xs:hidden flex flex-col justify-between h-full p-3">
        <div class="grid grid-cols-1 mb-auto">
          <div class="col-span-1">
            <img
              decoding="async"
              src="<%= event_image_src %>"
              class="rounded-sm"
              alt="<%= @event_data[:name] %>"/>
            <div class="my-2"></div>
            <div class="text-xs line-clamp-1">
              <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
            </div>
            <div class="font-bold text-sm mt-1 mb-2 w-54 line-clamp-2"><%= @event_data[:name] %></div>
          </div>
        </div>
      </div>

      <!-- >= width:241px -->
      <div class="invisible xxxs:visible flex flex-col justify-between h-full p-3">
        <div class="flex mb-auto h-full">
          <div class="flex-auto">
            <div class="text-xs line-clamp-2">
              <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
            </div>

            <div class="font-bold text-md mt-1 mb-2 line-clamp-2">
              <%= @event_data[:name] %>
            </div>

            <div class="text-gray-350 text-xs">
              <span class="align-middle"><%= event_datetime_label %></span>
            </div>

            <div class="mt-2">
              <% unless blank_event_offers? %>
                <span class="bg-blue-600 text-xs p-1 pl-2 mr-1 rounded-sm text-white" style="font-size: 10px;">
                  <%= event_offer_status_label %>
                </span>
              <% end %>
              <span class="border border-gray-350 text-xs p-1 rounded-sm text-white text-center" style="font-size: 10px;">
                <%= event_date_status_label %>
              </span>
            </div>
          </div>
          <div class="w-32 xxs:w-48 flex-none flex flex-col justify-between ml-3">
            <div>
              <img
                decoding="async"
                src="<%= event_image_src %>"
                class="rounded-sm"
                alt="<%= @event_data[:name] %>"/>
              <div class="mt-2">
                <button
                  class="w-full bg-yellow-500 hover:bg-yellow-400 text-white py-2 sm:px-10 rounded-sm text-xs"
                >
                  詳しく見る
                </button>
              </div>
            </div>
            <div class="flex justify-end">
              <%= render 'shared/embed_logo' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- >= height:251px -->
    <div class="small:hidden h-full">
      <!-- < width:241px-->
      <div class="xxs:hidden xs:hidden flex flex-col justify-between h-full p-3">
        <div class="grid grid-cols-12 gap-3 mb-auto">
          <div class="col-span-12">
            <img
              decoding="async"
              src="<%= event_image_src %>"
              class="rounded-sm"
              alt="<%= @event_data[:name] %>"/>
            <div class="my-2"></div>
            <div class="text-xs line-clamp-2">
              <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
            </div>

            <div class="font-bold text-sm mt-1 mb-2 w-54 line-clamp-2"><%= @event_data[:name] %></div>

            <div class="text-gray-350 text-xs mt-2">
              <span class="align-middle"><%= event_datetime_label %></span>
            </div>
          </div>
        </div>
      </div>

      <!-- >= width:241px -->
      <div class="invisible xxs:visible h-full p-3">
        <div class="flex mb-auto h-full">
          <div class="flex-auto">
            <div class="text-xs line-clamp-2">
              <span style="color: <%= @episode_data.dig(:partOfSeries, :style, :primaryLight) %>"><%= @episode_data.dig(:identifierGroup, :seriesName) %></span>
            </div>

            <div class="font-bold text-md mt-1 mb-2 line-clamp-2">
              <%= @event_data[:name] %>
            </div>

            <div class="text-gray-350 text-xs mt-2">
              <span class="align-middle"><%= event_datetime_label %></span>
            </div>

            <div class="text-gray-350 text-xs mt-2">
              <span class="material-icons md-18 align-middle">place</span>
              <span class="align-middle"><%= @event_data[:place] %></span>
            </div>

            <div class="text-gray-350 text-xs mt-2">
              <span class="material-icons md-18 align-middle">storefront</span>
              <span class="align-middle"><%= @event_data[:postalAddress] %></span>
            </div>

            <div class="mt-2">
              <% unless blank_event_offers? %>
                <span class="bg-blue-600 text-xs p-1 pl-2 mr-1 rounded-sm text-white" style="font-size: 10px;">
                  <%= event_offer_status_label %>
                </span>
              <% end %>
              <span class="border border-gray-350 text-xs p-1 rounded-sm text-white text-center" style="font-size: 10px;">
                <%= event_date_status_label %>
              </span>
            </div>
          </div>
          <div class="w-32 xxs:w-48 flex-none flex flex-col justify-between ml-3">
            <div>
              <img
                decoding="async"
                src="<%= event_image_src %>"
                class="rounded-sm"
                alt="<%= @event_data[:name] %>"/>
              <div class="mt-2">
                <button
                  class="w-full bg-yellow-500 hover:bg-yellow-400 text-white py-2 sm:px-10 rounded-sm text-xs"
                >
                  詳しく見る
                </button>
              </div>
            </div>
            <div class="flex justify-end">
              <%= render 'shared/embed_logo' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<% content_for(:style) do %>
  <style>
      .embed-event {
          height: <%= @height %>px;
          overflow: hidden;
          min-width: 240px;
      }

      @media (max-height: 250px) {
          .small\:hidden {
              display: none !important;
          }
      }

      @media (min-height: 251px) {
          .card\:hidden {
              display: none !important;
          }
      }
  </style>
<% end %>
