<div class="embed embed-featured-item rounded-sm shadow-md text-white"
     data-controller="key-color"
     data-key-color-target="setBackgroundColor"
>
  <a href="<%= url %>" target="_blank">
    <div class="flex flex-col h-full">
      <div class="relative">
        <img
          decoding="async"
          src="<%= base64_image_src %>"
          class="rounded-sm w-full object-cover mask-image"
          alt="<%= name %>"
          data-key-color-target="image"
          style="height: 240px;" />
      </div>
      <div class="relative flex-grow">
        <div class="bottom--contents absolute px-2 w-full">
          <div class="series_content">
            <% ellipsis_class = height.to_i < 420 ? 'truncate' : 'line-clamp-2' %>
            <p class="text-xxs opacity-80 <%= ellipsis_class %>"><%= detailed_catch %></p>
            <div class="font-bold text-sm mt-1 mb-1 w-54 <%= ellipsis_class %>"><%= name %></div>
          </div>
          <div class="my-1">
            <hr class="opacity-50">
          </div>
          <div class="episode_content">
            <div class="text-xxs my-1">
              <small class="opacity-80">このプレイリストに含まれるエピソード</small>
            </div>

            <% if episode_data.present? %>
              <div class="flex">
                <div class="w-16">
                  <img
                    decoding="async"
                    src="<%= episode_image_src(episode_data) %>"
                    class="rounded-sm"
                    alt="<%= episode_data[:name] %>"/>
                </div>
                <div class="ml-2 flex-1">
                  <div class="font-bold text-xs line-clamp-3"><%= episode_data[:name] %></div>
                  <div class="mt-1 text-xs text-gray-450 line-clamp-1"><%= episode_data.dig(:partOfSeries, :name) %></div>
                </div>
              </div>
            <% else %>
              <small>エピソードがありません</small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<% content_for(:style) do %>
  <style>
      .embed-featured-item {
          min-height: 385px;
          max-height: 482px;
          height: <%= height %>px;
          overflow: hidden;
          width: 100%;
          padding: 6px;
      }

      .embed-featured-item::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.4);
      }

      .mask-image {
          -webkit-mask-image: linear-gradient(#000 70%, rgba(0, 0, 0, .8) 80%, transparent 100%);
          mask-image: linear-gradient(#000 70%, rgba(0, 0, 0, .8) 80%, transparent 100%);
      }
  </style>
<% end %>
