<div class="embed embed-item-list rounded-sm shadow-md text-white"
     data-controller="key-color"
     data-key-color-target="setBackgroundColor"
>
  <div class="flex flex-col justify-between h-full">
    <div class="upper relative">
      <a href="<%= url %>" target="_blank">
        <img
          decoding="async"
          src="<%= base64_image_src %>"
          class="rounded-sm w-full object-cover mask-image"
          alt="<%= name %>"
          data-key-color-target="image"
          style="height: 80px;"/>
      </a>
    </div>
    <div class="bottom relative flex-grow flex flex-col justify-between">
      <div class="bottom-contents relative z-10">
        <div class="p-2 h-14">
          <a href="<%= url %>" target="_blank">
            <div class="text-xxs text-bold opacity-80 mb-1"><p class="truncate"><%= detailed_catch %></p></div>
            <div class="font-bold text-sm w-54 line-clamp-1"><%= name %></div>
          </a>
        </div>
        <% if episodes.blank? %>
          <div class="flex h-full items-center justify-center">
            <small>エピソードがありません</small>
          </div>
        <% else %>
          <div class="episode-content w-full p-0 space-y-1">
            <% episodes.each do |episode| %>
              <div class="episode-item-wrapper w-full relative">
                <a href="<%= episode.dig(:url) %>" target="_blank">
                  <div class="episode-item-zabuton w-full h-14 rounded-sm shadow-sm" style="filter: brightness(0.5);border: 1px solid rgba(159, 159, 159, .2);"
                       data-key-color-target="setBackgroundColor" data-opacity="0.8"></div>
                  <div class="episode-item absolute top-0 z-10 w-full h-14 flex p-2 items-center">
                    <div class="w-16 flex-none">
                      <img
                        decoding="async"
                        src="<%= episode_image_src(episode) %>"
                        class="rounded-sm"
                        alt="<%= episode.dig(:name) %>"/>
                    </div>
                    <div class="ml-2 text-xs line-clamp-2"><%= episode.dig(:name) %></div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if height.to_i > 250 %>
        <div class="footer p-1 relative z-10">
          <a href="<%= url %>" target="_blank">
            <%= render 'shared/embed_footer' %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:style) do %>
  <style>
      .embed-item-list {
          min-height: 200px;
          height: <%= height %>px;
          overflow: hidden;
          width: 100%;
          padding: 6px;
      }

      .embed-item-list::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.4);
      }

      .upper {
          height: 80px;
      }

      .episode-content {
          overflow: scroll;
          /* エピソードリストの高さ = 全体の高さ - upperの高さ - 見出しの高さ - footerの高さ - paddingの幅 */
          <%
            upper_height = 80
            heading_height = 56
            footer_height = 46
            padding_width = 6 * 2
          %>
          height: <%= height.to_i - upper_height - heading_height - (height.to_i > 250 ? footer_height : 0) - padding_width %>px;
      }

      .mask-image {
          -webkit-mask-image: linear-gradient(#000 60%, rgba(0, 0, 0, .8) 70%, transparent 100%);
          mask-image: linear-gradient(#000 60%, rgba(0, 0, 0, .8) 70%, transparent 100%);
      }
  </style>
<% end %>
