<div class="embed embed-series rounded-sm shadow-md text-white border border-gray-450">
  <a href="<%= url %>" target="_blank">
    <!-- <= height:250px -->
    <div class="card:hidden h-full">
      <!-- < width:241px-->
      <div class="xxxs:hidden xs:hidden h-full p-3">
        <div class="flex mb-auto h-full">
          <div class="flex flex-col justify-between ">
            <div>
              <div class="font-bold text-sm mt-1 mb-2 w-54 line-clamp-2"><%= name %></div>
              <div class="text-gray-350 text-xs mt-2 line-clamp-6">
                <%= description %>
              </div>
            </div>
            <%= render 'shared/embed_logo' %>
          </div>
        </div>
      </div>

      <!-- >= width:241px -->
      <div class="invisible xxxs:visible flex flex-col justify-between h-full p-3">
        <div class="flex mb-auto h-full">
          <div class="w-32 xxs:w-48 flex-none flex flex-col justify-between">
            <div>
              <img
                decoding="async"
                src="<%= eyecatch_image_url %>"
                class="rounded-sm"
                alt="<%= name %>"/>

              <div class="mt-2">
                <button
                  class="w-full bg-yellow-500 hover:bg-yellow-400 text-white py-2 sm:px-10 rounded-sm text-xs"
                >
                  詳しく見る
                </button>
              </div>
            </div>
            <%= render 'shared/embed_logo' %>
          </div>
          <div class="flex-auto ml-3">
            <div class="font-bold text-md mt-1 mb-2 line-clamp-2"><%= name %></div>
            <div class="text-gray-350 text-xs mt-2 line-clamp-6">
              <%= description %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- >= height:251px -->
    <div class="small:hidden h-full">
      <!-- < width:241px-->
      <div class="xxxs:hidden xs:hidden flex flex-col justify-between h-full p-3">
        <div class="grid grid-cols-12 gap-3 mb-auto sm:text-lg">
          <div class="col-span-12">
            <img
              decoding="async"
              src="<%= eyecatch_image_url %>"
              class="rounded-sm"
              alt="<%= name %>"/>
            <div class="font-bold text-sm mt-1 w-54 line-clamp-2"><%= name %></div>
            <div class="text-gray-350 text-xs mt-2 line-clamp-4">
              <%= description %>
            </div>
          </div>
        </div>
      </div>

      <!-- >= width:241px -->
      <div class="invisible xxxs:visible h-full p-3">
        <div class="flex mb-auto h-full">
          <div class="w-32 xxs:w-48 flex-none flex flex-col justify-between">
            <div>
              <img
                decoding="async"
                src="<%= eyecatch_image_url %>"
                class="rounded-sm"
                alt="<%= name %>"/>

              <div class="mt-3">
                <button
                  class="w-full bg-yellow-500 hover:bg-yellow-400 text-white py-2 sm:px-10 rounded-sm text-xs"
                >
                  詳しく見る
                </button>
              </div>
            </div>
            <%= render 'shared/embed_logo' %>
          </div>
          <div class="flex-auto ml-3">
            <div class="font-bold text-md mt-1 mb-2 line-clamp-2"><%= name %></div>
            <div class="text-gray-350 text-xs mt-2 line-clamp-6">
              <%= description %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<% content_for(:style) do %>
  <style>
      .embed-series {
          height: <%= height %>px;
          overflow: hidden;
          min-width: 240px;
      }

      @media (max-height: 250px) {
          .small\:hidden {
              display: none !important;
          }
      }

      @media (min-height: 251px) {
          .card\:hidden {
              display: none !important;
          }
      }
  </style>
<% end %>
